<div class="main-body">
    <h2>Dashboard</h2>
    <div class="promo_card">
      <h1>Welcome to Our Bank</h1>
      <span>Lets Grow Together</span>
    </div>

    <div class="history_lists">
        <div class="list1">
          <div class="row">
            <h4>Account Balance: ₹500000</h4>
          </div>
          <table>
            <thead>
              <tr>
                <th> </th>
                <th>Dates</th>
                <th>Account Number</th>
                <th>Name</th>
                
                <th>Ammount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>25, March, 2023</td>
                <td>39163166667</td>
                <td>Ankita Saha</td>
              
                <td>₹2000.00</td>
              </tr>
              <tr>
                <td>2</td>
                <td>30, March, 2023</td>
                <td>39168966665</td>
                <td>Ritika sen</td>
                
                <td>₹5000.00</td>
              </tr>
              
            </tbody>
          </table>
          <br>
          <br>
        </div>
    </div>
</div>