<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/dashboard/"><mat-icon style="margin-top: 10px;" mat-list-icon>home</mat-icon>Home</button>
        <button mat-list-item routerLink="/dashboard/profile"><mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>
        <button mat-list-item routerLink="/dashboard/account"><mat-icon mat-list-icon>account_balance</mat-icon>Account</button>
        <button mat-list-item routerLink="/dashboard/transaction"><mat-icon mat-list-icon>paid</mat-icon>Transaction</button>
        <button mat-list-item routerLink="/dashboard/fund"><mat-icon mat-list-icon>account_balance_wallet</mat-icon>Fund Transfer</button>



        

    </mat-action-list>
</mat-card>
