<body>
    <!-- <div class="bootstrap-wrapper">
        <div class="container text-center mt20">
            <h1 class="text-center">Welcome to STL Bank</h1>

            
             <a routerLink="/login" mat-raised-button color="primary">Login</a>
            <a style="margin-left: 8px;" routerLink="/signup" mat-raised-button color="accent" >Signup</a> -->
            
        <!-- </div>
    </div> --> 
    <!-- <br> -->
    <div class="container text-center">
      <marquee><h1>Welcome to STL BANK</h1></marquee>
    </div>
    <!-- <h1>Welcome to STL BANK</h1> -->
    <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/i4.jpg" alt="Los Angeles" class="d-block hight" style="width:100%">
        <div class="carousel-caption">
          
          <p>We had such a great time..</p>
        </div>
      </div>
      <br>
      <div class="carousel-item">
        <img src="/assets/i2.jpg" alt="Chicago" class="d-block hight" style="width:100%">
        <div class="carousel-caption">
          <h1 class="colour">Welcome</h1>
          <h3 class="colour">STL Banking!</h3>
        </div> 
      </div>
      <div class="carousel-item ">
        <img src="../../../assets/c1.png" alt="New York" class="d-block hight " style="width:100%">
        <div class="carousel-caption">
          <h1 class="colour">Welcome</h1>
          <h3 class="colour">STL Banking!</h3>
        </div>  
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
 
  
    <marquee>
      <h1 >Today's offer</h1></marquee>
      <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="../../../assets/a8.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h1 class="card-title">Personal Loan</h1>
                <p class="card-text">In finance, unsecured debt refers to any type of debt or general obligation that is not protected by a guarantor, or collateralized by a lien on specific assets of the borrower in the case of a bankruptcy or liquidation or failure to meet the terms for repayment.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 2 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../../../assets/a7.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h1 class="card-title">Credit Card's Offer</h1>
                <p class="card-text">You can easily pay for them through a Credit Card. Interest-free credit: A Credit Card comes with a grace period between purchase and payment (could be up to 50 days) during which the bank does not charge any interest. This is a perfect example of buy now and pay later.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../../../assets/a6.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h1 class="card-title">Debit Card's Offer</h1>
                <p class="card-text">Debit Cards make transactions fast, easy and convenient to use. Debit Cards have the ability to give you cash. They double up as ATM cards and allow you to withdraw money from an ATM.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 5 mins ago</small>
              </div>
            </div>
          </div>
        </div> 
    
  
  

   

  
</body>