<mat-card>
    <h1 class="text-center">Your Profile Details</h1>
    <!-- {{ user | json}} -->
    <mat-card-content>
        <div class="bootstrap">
            <div class="container">
                    <div class="container text-center">
                        <img src="../../../assets/20221224_195500 (1).jpg" alt="" class="profile-image"/>
                        <h1 class="mt20">Sumana Dutta</h1>
                        </div>
                    <div class="row">
                    <div class="col-md-10 offset-md-1">

                        <!-- //table Details -->

                        <table class="table text-center" >
                            <tr>
                                <td>Username:</td>
                                <td>Sumana</td>
                            </tr>
                            <tr>
                                <td>Id:</td>
                                <td>249087456</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>8013660477</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>sumanadutta091997@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Account Number:</td>
                                <td>39163166665</td>
                            </tr>
                            <tr>
                                <td>Account Type:</td>
                                <td>Savings</td>
                            </tr>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
    </mat-card-content>
    <div class="text-center" >
        <button mat-raised-button color="primary">UPDATE</button>
        <button class="ml10" mat-raised-button color="accent">DELETE</button>
      </div>
      <br>
</mat-card>
